Bit_Casaverde BITMAP "Immagini\\Icon_Catasto\\CasaVerde.bmp"
Bit_ici1 BITMAP "Immagini\\Icon_Catasto\\ici1.bmp"
Bit_ici2 BITMAP "Immagini\\Icon_Catasto\\ici2.bmp"
Bit_pdficon BITMAP "Immagini\\Icon_Catasto\\pdfIcona.bmp"
Bit_pianta BITMAP "Immagini\\Icon_Catasto\\Pianta.bmp"
Bit_proprietario BITMAP "Immagini\\Icon_Catasto\\Proprietario.bmp"
Bit_Tarsu1 BITMAP "Immagini\\Icon_Catasto\\Tarsu1.bmp"
Bit_Tarsu2 BITMAP "Immagini\\Icon_Catasto\\Tarsu2.bmp"
Bit_pianta_rid BITMAP "Immagini\\Icon_Catasto\\PiantaRid.bmp"
Bit_C2 BITMAP "Immagini\\Icon_Catasto\\E_C2.bmp"
Bit_C6 BITMAP "Immagini\\Icon_Catasto\\E_C6.bmp"
Bit_Tarsu_rid BITMAP "Immagini\\Icon_Catasto\\Tarsu_rid.bmp"
Bit_prop_rid BITMAP "Immagini\\Icon_Catasto\\Proprietario_rid.bmp"
Bit_documento_rid BITMAP "Immagini\\Icon_Catasto\\documento_rid.bmp"
Bit_pdfrid BITMAP "Immagini\\Icon_Catasto\\pdfIcona_rid.bmp"
Bit_Family BITMAP "Immagini\\Icon_Catasto\\family.bmp"
Bit_key BITMAP "Immagini\\Icon_Catasto\\key.bmp"
Bit_key_rid BITMAP "Immagini\\Icon_Catasto\\key_rid.bmp"
Bit_map BITMAP "Immagini\\Icon_Catasto\\Map.bmp"
Bit_map_rid BITMAP "Immagini\\Icon_Catasto\\Map_rid.bmp"
Bit_dust BITMAP "Immagini\\Icon_Catasto\\dust.bmp"
Bit_dust_rid BITMAP "Immagini\\Icon_Catasto\\dust_rid.bmp"
Bit_casa1 BITMAP "Immagini\\Icon_Catasto\\casa1.bmp"
Bit_casa1_rid BITMAP "Immagini\\Icon_Catasto\\casa1_rid.bmp"
Bit_Ici BITMAP "Immagini\\Icon_Catasto\\Ici.bmp"
Bit_Ici_rid BITMAP "Immagini\\Icon_Catasto\\Ici_rid.bmp"
Bit_Fam_rid BITMAP "Immagini\\Icon_Catasto\\family_rid.bmp"
Bit_documenti_rid BITMAP "Immagini\\Icon_Catasto\\documenti_rid.bmp"
Bit_mappe_rid BITMAP "Immagini\\Icon_Catasto\\Mappe.bmp"
Bit_light BITMAP "Immagini\\Icon_Zoom\\Light.bmp"
Bit_editabile BITMAP "Immagini\\Icon_Interface\\Editabile.bmp"
Bit_snapfine BITMAP "Immagini\\Icon_Snap\\SnapFine.bmp"
Bit_map_ultrarid BITMAP "Immagini\\Icon_Catasto\\Map_ultrarid.bmp"
Bit_FamMult_rid BITMAP "Immagini\\Icon_Catasto\\familymult_rid.bmp"
